/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: rgb(9, 3, 56);
  color: rgb(253, 255, 253);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 23px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {
  background-color: rgb(236, 236, 243);
}
#News {
  background-color: rgb(236, 236, 243);
}
#Contact {
  background-color: rgb(236, 236, 243);
}
#About {
  background-color: rgb(236, 236, 243);
}
.image {
  display: flex;
  justify-content: flex-start;
  margin-right: 12%;
  opacity: 66%;
}

p {
  color: indigo;
  font: x-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: x-large;
}
#dp {
  border-radius: 60%;
  margin-left: 6%;
  height: 344px;
}
.me {
  display: flex;
  justify-content: stretch;
  font: x-large;
  font-family: serif;
  font-size: xx-large;
}
/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box;
}

/* Container for skill bars */
.container {
  width: 90%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.skillset {
  margin-left: 15%;
}
.html {
  width: 90%;
  background-color: rebeccapurple;
} /* Green */
.css {
  width: 80%;
  background-color: burlywood;
} /* Blue */
.js {
  width: 65%;
  background-color: crimson;
} /* Red */
.angular {
  width: 25%;
  background-color: greenyellow;
}
.c {
  width: 95%;
  background-color: rebeccapurple;
}
.cpp {
  width: 90%;
  background-color: burlywood;
}
.java {
  width: 60%;
  background-color: crimson;
}
.pyth {
  width: 45%;
  background-color: greenyellow;
}
.int {
  color: black;
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: 29px;
}
.github {
  margin-top: 5%;
}
.linkedin {
  margin-top: 5%;
}
.insta {
  margin-top: 5%;
}
.cnt {
  display: flex;
  justify-content: space-evenly;
}
blockquote {
  color: black;
  text-align: center;
  font-size: 20px;
}
